footer.footer.footer-container
  .container
    p.text-muted
      | Curratelo.es is an Open Source project 
      i.fa.fa-code(aria-hidden='true')
      |  with 
      i.fa.fa-heart(aria-hidden='true')
      |  by Ulises Gascón, Roberto Moriyon & individual contributors | GNU GPL-3.0