doctype html
html.full
  head
    include ./includes/head.jade
    style.
      .full {
      background: url(../img/big_gael.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
  body
    include ./includes/nav.jade
    #container-jobs.container
      .row
        if datos
          #ofertas.col-md-12
            .panel.panel-default
              .panel-body
                h1#totalJobs Tenemos muchas ofertas para tí!
                #search-order.input-group
                  input.search.form-control(type='text', placeholder='Buscar por...')
                  span.input-group-addon
                    i.fa.fa-search(aria-hidden='true')
            hr
            ul.list
              if datos
                each val in datos
                  if val.outstanding
                    include ./includes/outstanding_panel.jade
                  else
                    include ./includes/regular_panel.jade
        else
          .col-md-12.col-centered
            img(src="http://images.huffingtonpost.com/2013-08-23-tumblr_m08celcrnT1r3isxuo1_500.gif")
            h1 Cargando nuevas ofertas en la base de datos....
            h2 Intelo de nuevo en unos minutos. ¡Gracias!hub.com/positions/4ebfec64-3d94-11e6-9bce-b2fb45e45b92')
                        i.fa.fa-twitter
    include ./includes/footer.jade
    include ./includes/scripts.jade
    script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js')
    script(src='js/fuzzysearch.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/es.js')
    script(src='js/index.js')