script(src='//code.jquery.com/jquery-1.10.2.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
script(src='js/material.min.js')
script(src='js/ripples.min.js')
script.
  $.material.init();
